@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    padding: 5rem 0;
    display: none;

    p {
        text-align: center;
    }
}

.mostrar {
    display: block;
}

.ocultar {
    visibility: hidden;
}

.barra-sesion {
    p {
        text-align: center;
        font-size: 2rem;
    }

    .boton-logout {
        margin: 0;
    }

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}